.navigation {
  background: rgba(244, 245, 246, 0.95);
  border-bottom: 0.1rem solid #d1d1d1;
  display: block;
  height: 5.2rem;
  left: 0;
  max-width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
.navigation .container {
  padding-bottom: 0;
  padding-top: 0;
}
.navigation .navigation-list {
  list-style: none;
  margin-bottom: 0;
  margin-right: 5rem;
}
@media (min-width: 80rem) {
  .navigation .navigation-list {
    margin-right: 0;
  }
}
.navigation .navigation-item {
  float: left;
  margin-bottom: 0;
  margin-left: 2.5rem;
  position: relative;
}
.navigation .img {
  fill: #9b4dca;
  height: 2rem;
  position: relative;
  top: 0.3rem;
}
.navigation .navigation-title,
.navigation .title {
  color: #606c76;
  position: relative;
}
.navigation .navigation-link,
.navigation .navigation-title,
.navigation .title {
  display: inline;
  font-size: 2rem;
  line-height: 5.2rem;
  padding: 0;
  text-decoration: none;
}
.navigation .navigation-link.active {
  color: #606c76;
}

#navbarToggle,
#navbarToggle + label {
  display: none;
}

@media (max-width: 80rem) {
  .navigation {
    border-bottom: 0.1rem solid #111;
  }
  .container {
    background: rgba(244, 245, 246, 0.95);
  }
  .navigation .navigation-item {
    float: unset;
    margin-left: auto;
  }
  .navigation-list.float-right {
    float: unset;
    display: none;
  }
  #navbarToggle + label {
    float: right;
    display: inline-block;
    line-height: 5.2rem;
    padding-left: 1rem;
  }
  #navbarToggle + label:before {
    content: "\2630";
  }
  #navbarToggle:checked + label:before {
    content: "\26CC";
  }
  #navbarToggle:checked ~ ul.navigation-list {
    display: block;
  }
}
