@import "../node_modules/milligram/dist/milligram.min.css";

body {
  background: url("./static/pattern.svg");
}

.wrapper {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.wrapper .container {
  max-width: 80rem;
}

.wrapper > .container {
  padding-bottom: 1rem;
  padding-top: 2rem;
  margin-top: 7.5rem;
  background: rgba(255, 255, 255, 0.98);
  border-radius: 0.5rem;
  color: #2c3e50;
}

.error {
  color: red;
}

.success {
  color: green;
}
